.poke-cards-container__btn {
  text-align: center;
}
.poke-cards-container__btn input {
  font-family: Helvetica, sans-serif;
  margin: 1rem;
  padding: 1rem 2.5rem;
  font-size: 1.5rem;
  border-radius: 15px;
  border: none;
}
