.poke-cards-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;

  max-width: 1440px;
  text-align: center;
  margin: 1rem auto;
  row-gap: 1.25rem;
}

.poke-cards-container article {
  background-color: var(--color-white);
  box-shadow: 3px 4px 6px 2px rgb(0, 0, 0, 0.3);
  width: 18.75rem;
  height: 15rem;
  border-radius: 20px;
  font-family: var(--main-font-regular);
  align-items: baseline;
  padding: 2rem;
  justify-items: center;
}

.poke-cards-container article img {
  height: 100px;
}

.poke-cards-container article h4 {
  font-size: var(--big_font_size);
  margin: 1rem;
  text-transform: capitalize;
}
