@font-face {
  font-family: "FiraCode-Light";
  src: url(../assets/fonts/FiraCode-Light.ttf);
}

@font-face {
  font-family: "FiraCode-Regular";
  src: url(../assets/fonts/FiraCode-Regular.ttf);
}

@font-face {
  font-family: "FiraCode-SemiBold";
  src: url(../assets/fonts/FiraCode-SemiBold.ttf);
}

html {
  scroll-behavior: smooth;
}

:root {
  --main-font-light: "FiraCode-Light", Helvetica, Arial, sans-serif;
  --main-font-regular: "FiraCode-Regular", Helvetica, Arial, sans-serif;
  --main-font-semi-bold: "FiraCode-SemiBold", Helvetica, Arial, sans-serif;
  --secondary-font: Helvetica, Arial, sans-serif;

  --color-red: #cc000085;
  --color-white: #eaeaeb;
  --color-black: #313131;
  --color-green: #4dad5b;
  --color-blue: #1b82b1;

  --lower_font_size: 0.5rem;
  --medium_font_size: 1rem;
  --big_font_size: 1.25rem;
  --title_font_size: 2rem;
}

.root {
  width: 100%;
  margin: 0 auto;
}

body {
  background-color: var(--color-blue);
}
